html {
    font-family: Helvetica;
    background-color: #ddd;
}

.container {
    background-color: #fff;
    max-width: 1100px;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

.bold {
    font-weight: bold;
}

/* header */

.header {
    text-align: center;
}

.main-title {
    font-size: 40px;
}

.main-paragraph {
    font-style: italic;
}

/* Imagem destaque */

.featured-image {
    text-align: center;
}

.featured-image img {
    width: 800px;
}

/* Biografia */

.biography-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    text-align: justify;
}

/* Quotes */

.quotes-container {
    background-color: #ddd;
    padding:30px;
}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
    text-align: justify;
}

.quotes-container p {
    font-style: italic;
}

/* Curiosidades */

.curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    text-align: justify;
}

.curiosities-container li {
    height: 30px;
    padding: 10px 0;
}

/* Imagem bold */

.img-bold {
    font-weight: bold;
    text-align: center;
}