body {
    padding-bottom: 500px;
}

/* 1 - Flex */

.flex {
    display: flex;
    background-color: #ddd;
    margin-bottom: 20px;
}

/* 2 - Column */

.flex-column {
    display: flex;
    background-color: #ccc;
    flex-direction: column;
    margin-bottom: 20px;
}

/* 3 - Wrap */

.wrap {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.box {
    height: 40px;
    width: 33%;
    border: 1px solid #454545;
}

/* 4 - Justify Content */

.center,
.space-around,
.space-between,
.end {
    display: flex;
    margin-bottom: 20px;
}

.center .box,
.space-around .box,
.space-between .box,
.end .box {
    width: 50px;
}

.center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.end {
    justify-content: end;
}

/* 5 - Align Items */

.align-center,
.flex-end,
.stretch{
    display: flex;
    margin-bottom: 20px;
    height: 200px;
    border: 1px solid #7b45df;
}

.align-center .box,
.flex-end .box,
.stretch .box {
    width: 50px;
}

.align-center {
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.stretch {
    align-items: stretch;
}

.stretch .box {
    height: auto;
}

/* 6 - Gap */

.gap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid green;
    gap: 10px;
}

.gap .box {
    width: 32%;
}

/* 7 - Order */

.order {
    display: flex;
}

#one {
    order: 1;
}

#two {
    order: 2;
}

#three {
    order: 3;
}

/* 8 - Grow */

.grow {
    display: flex;
}

.grow .box {
    flex: 1;
}

.grow .big {
    flex: 2;
}

/* 9 - Basis */

.basis {
    display: flex;
}

.basis .box {
    flex-basis: 20px;
}

.basis .big {
    flex-grow: 1;
}

/* 10 - Shrink */

.shrink {
    display: flex;
}

.shrink .box {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    width: auto;
}

.shrink .small {
    flex-shrink: 2;
}

/* 11 - Flex Shorthand */

.shorthand {
    display: flex;
}

.shorthand .box {
    flex: 1 1 50px;
}

.shorthand .different {
    flex: 3 1 400px;
}

/* 12 - Align-Self */

.align-self {
    display: flex;
    height: 300px;
    align-items: flex-end;
    border: 1px solid #269999;
}

.align-self .different {
    align-self: center;
}