/* 4 - External CSS */

body {
    padding-bottom: 500px;
}

h3 {
    color:burlywood; 
}

/* 8 - Classes */

.paragraph {
    background-color: burlywood;
    color:sienna;
    padding: 5px;
    font-size: 20px;
}

/* 9 - IDs */

#exclusive-title {
    background-color: sienna;
    color: burlywood;
    padding: 10px;
}

/* 10 - ordem das regras */

h2 {
    border-bottom: 2px solid gray;
}

.titulo {
    border-bottom: 3px solid brown;
}

#algum-titulo {
    border-bottom: 4px solid coral;
}

/* 15 - rgba */

.rgba {
    color: rgba(200, 199, 45, 0.3);
}

/* 18 - Opacidade no bg */

.bg-opacity {
    background-color: #5c3636;
    opacity: 0.2;

}

.bg-opacity-2 {
    background-color: #999;
    opacity: 0.8;
}

/* 19 - rgba com opacidade */

.rgba-opacity {
    background-color: rgb(131, 47, 24, 0.2);
    color: darkgoldenrod;
}

/* 20 - bg image */

.bg-image {
    background-image: url("../img/estrelas.webp");
    padding: 10px;
    color: #fff;
}

/* 21 - centralizar imagem de bg */

.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("../img/estrelas.webp");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* 22 - largura e altura */

.width-height {
    width: 100px;
    height: 200px;
    background-color: #695050;
}

.width-height-2 {
    height: 300px;
    background-color: #999;
}

/* 23 - padding */

.without-padding,
.padding {
    background-color: #fdde9a;
    color: #695050;
}

.padding {
    padding: 20px;
}

/* 24 - paddings individuais */

.padding-individual {
    background-color: #695050;
    color:#fdde9a;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* 25 - shorthand padding */

.shorthand-padding {
    background-color: coral;
    color:#fdde9a;
    padding: 10px 30px 40px 20px;
}

.shorthand-padding-2 {
    background-color: #fdde9a;
    color:#695050;
    padding: 10px 20px;
}

/* 26 - padding com width */

.without-border-box {
    background-color: #695050;
    width: 400px;
    padding: 50px;
}

.border-box {
    background-color: #5c3636;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* 28 - borda individual */

.border-left {
    border-left: 3px dotted #000;
    background-color: beige;
    padding: 25px;
}

.border-bottom {
    border-bottom: 5px solid #999;
    background-color: antiquewhite;
    padding: 25px;
}

/* 29 - borda arredondada */

.rounded-p {
    border: 4px solid sienna;
    background-color: antiquewhite;
    color:sienna;
    padding: 15px;
    border-radius: 15px;
}

.rounded-p-2 {
    background-color: antiquewhite;
    color:sienna;
    padding: 15px;
    border-radius: 15px;
}

/* 30 - margem */

.margin {
    margin: 10px;
    background-color: #999;
}

.margin-top {
    margin-top: 50px;
    background-color: #999;
    padding: 10px;
}

.margin-shorthand {
    margin: 5px 10px 15px 20px;
    background-color: #999;
}

/* 31 - box model */

.box-model {
    margin: 20px;
    padding: 15px 25px;
    border: 3px double #5c3636;
    border-radius: 7px;
    width: 200px;
    height: 200px;
}

/* 34 - text decoration */

.underline {
    text-decoration: underline;
}

.line-trough {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
}

/* 35 - text transform */

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

/* 36 - letter spacing */

.spacing {
    letter-spacing: 5px;
}

/* 37 - fontes */

.serif {
    font-family: Georgia;
}

.sans-serif {
    font-family: Helvetica;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

/* 39 - font-weight */

.thin, .bold, .bolder {
    font-family: Helvetica;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 900;
}

/* 41 - display */

.inline-box {
    width: 50px;
    height: 50px;
    background-color: sienna;
    margin: 10px;
    display: inline-block;
}

.block {
    background-color: #fdde9a;
    margin: 10px;
    display: block;
}

/* 42 - escondendo elementos */

.invisible {
    display: none;
}

/* 44 - relative */

.relative {
    background-color: sienna;
    color: #fff;
    width: 100px;
    height: 100px;
    position: relative;
    top: 100px;
    left: 40px;
}

/* 45 - absolute */

.absolute {
    background-color: sienna;
    color: #fff;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 2px;
    right: 2px;
}

/* 46 - relative com absolute */

.relative-container {
    width: 300px;
    height: 300px;
    border: 1px solid sienna;
    margin-top: 120px;
    position: relative;
}

.absolute-1,
.absolute-2 {
    width: 50px;
    height: 50px;
    background-color: #695050;
    position: absolute;
}

.absolute-1 {
    top: 10px;
    left:10px;
}

.absolute-2 {
    bottom: 10px;
    right: 10px;
}

/* 47 - fixed */

.fixed {
    width: 100px;
    height: 100px;
    background-color: #fdde9a;
    border: 1px solid #999;
    margin-top: 120px;
    position: fixed;
    top: 50px;
    right: 100px;
}

/* 48 - sticky */

.sticky {
    width: 100px;
    height: 100px;
    background-color:#695050;
    border: 1px solid #fdde9a;
    position: sticky;
    top: 10px;
}

/* 49 - z-index */

.absolute-3, .absolute-4, .absolute-5 {
    width: 50px;
    height: 50px;
    background-color:#fdde9a;
    position: absolute;
}

.absolute-3 {
    top: 0px;
    left: 0px
    /* z-index: 3; */
}

.absolute-4 {
    top: 10px;
    left: 10px;
    background-color: #999;
     /* z-index: 2; */
}

.absolute-5 {
    top: 40px;
    left: 40px;
    background-color: #5c3636;
     /* z-index: 1; */
}
