/* cores */

:root {
    --branco: #fefefe;
    --preto: #2c2c2c;
    --cinza: #535353;
    --bege: #f5e9cc;
    --amarelo: #f6e45e;
    --dourado: #9d9451;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* body */

body {
    font-family: "Source Serif 4", serif;
    font-size: 14px;
    color: var(--bege); 
}

/* section */

section {
    padding: 0.5rem 1rem;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}

/* header top-bar */

.header {
    background-image: url(../img/main_banner.jpg);
    background-size: cover;
    background-position: center;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.navbar {
    background-color: var(--preto);
    border: 1px solid var(--dourado);
    width: auto;
    height: auto;
    margin: 0 auto;
    position: static;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 10px 20px;
}

.navbar ul li {
    text-transform: uppercase;
    font-size: 12px;
}

.navbar ul li a {
    color: var(--branco);
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--bege);
}

/* header content */

.header-content h1 {
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 60px;
    font-size: 260px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden
}

.button-container {
    background-color: var(--preto);
    border: 1px solid var(--dourado);
    text-align: center;
    width: 360px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(16px);
}

.header-btn {
    color: var(--branco);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.header-btn:hover {
    color: var(--bege);
}

.header-content p {
    color: var(--branco);
    text-transform: uppercase;
    text-shadow: 1px 1px 3px var(--preto);
    line-height: 18px;
    text-align: left;
    width: 300px;
    height: 60px;
    margin-top: 2rem;
    padding: 0 .5rem;
}

/* About Section */

.about {
    background-color: var(--cinza);
    width: 100%;
}

.about-header {
    max-width: 610px;
    margin: 1.5rem auto 1.5rem;
}

.about-header h2 {
    font-size: 32px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
}

.about-header p {
    text-align: left;
}

.about-main {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    max-height: auto;
    margin: 0 auto;
    position: relative;
}

.about-left img {
    width: 100%;
    max-width: 750px;
    display: block;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 400px;
}

.about-right img {
    width: 220px;
    position: absolute;
    top: -40px;
    right: 0;
}

.about-right h4 {
    font-family: "Noto serif gujarati", serif;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--amarelo);
    letter-spacing: 2px;
    margin-top: auto;
}

.about-right p {
    font-size: 12px;
}

.about-btn {
    margin-top: auto;
    background-color: var(--amarelo);
    color: var(--cinza);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 1rem 3rem;
    width: 170px;
    height: auto;
}