* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
    --cor-primaria: #130f0d;
    --cor-secundaria: #c4c1b8;
    --cor-cabecalho: #635b51;
    --cor-reserva: #421c1d;
}

h1, h2, h3 {
    color: var(--cor-primaria)
}

p {
    color: var(--cor-primaria);
}

.navbar-container {
    background-color: var(--cor-cabecalho);
    width: 100%;
    height: 80px;
    padding: 0 2rem;
}

nav {
    position: relative;
    height: 80px;
}

.logo {
    font-family: "Limelight", sans-serif;
    color: var(--cor-secundaria);
    font-size: 45px;
    text-align: left;
    line-height: 80px;
}

.navbar-items {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items li a {
    color: var(--cor-secundaria);
    transition: 0.5s;
}

.navbar-items li a:hover {
    color: #a3a19a;
    text-decoration: underline;
}

.main-banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 13rem 0;
}

.main-banner h2 {
    font-family: "Limelight", sans-serif;
    font-size: 52px;
    color: var(--cor-secundaria);
    text-align: center;
    font-weight: bold;
    text-shadow: #130f0d 2px 2px 3px;
    margin-left: 20px;
    position: relative;
    top: -90px;
}

.main-banner p {
    color: var(--cor-secundaria);
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    text-shadow: #130f0d 2px 2px 3px;
    position: relative;
    top: -90px;
}